.site-brand-container {
  //del //background: $black-deep;
  //add
  //background-image: url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-wallpaper/landscape/10A0FCE5-36A1-4AD0-8CF0-019259A89E03.jpeg);
  background-image: url(/uploads/th.jpg);
  position: relative;
  height: calc(100vh);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  +tablet-mobile() {
    //del //box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  }
}

.site-meta {
  //del //padding: 20px 0;
  //add 
  text-align: center;
  width: 70%;
  height: 158px;
  margin: auto;
  top: -170px/
  padding: 40px 0;
  font-size: 16px;
  opacity: .98;
  background: rgba(42,117,144,.18);
  z-index: 1;
  animation: b 1s ease-out;
  position: relative;
  border-radius: 5px;
}

.brand {
  padding: 0;
}

.site-subtitle {
  margin: 10px 10px 0;
}

.custom-logo-image {
  margin-top: 20px;

  +tablet-mobile() {
    display: none;
  }
}
